/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html { 
	height:100%;
}

body {
	margin-left: -20px;
	margin-right: -20px;
	background-color: #000;
	color: #fff;

}



#messageContainer {
	position: absolute;
	z-index: 1;
	background-image: url(/assets/triangle3.png);
	background-repeat: no-repeat;
	width: 160px;
	height: 139px;
	margin: 170px 0 0 76px;
	text-align: center;
}


#message {
	font-size: 1.25em;
	margin: 0px auto;
	padding-top: 45px;
	text-align: center;
	width: 120px;
	color: #fff;

}
.ball {
	position: absolute;
	z-index: -999;
	background-repeat: no-repeat;
	background-size: 100%;

}

/*img.rotate {
	position: absolute;
	z-index: -3;
}

#rotate {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}*/


h1 {
	position: absolute;
	z-index: 2;
	text-shadow: 0px 0px 3px #fff;
	font-size: 1.25em;
	line-height: 1.2em;
	text-align: center;
}

#debug {
	position: fixed;
	bottom: 0px;
}



#warning {
	color: red;
}

